@import "../../base.scss";

.projectsCard {
  margin: 20px;
  width: 80vw;
  height: 40vh;
  border: 2px solid $accent-color;
  background-color: $primary-color;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .cardImage {
    width: 100%;
    height: 80%;
    //padding: 5px;
    //object-fit: contain;
  }

  .titleContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    width: 100%;
    background: $accent-color;
    .title {
      text-align: center;
    }
  }
}

.cardExpanded {
  margin: 20px;
  width: 90vw;
  height: 80vh;
  border: 2px solid $accent-color;
  background-color: $primary-color;
  border-radius: 5px;

  .cardImageExpanded {
    width: 100%;
    height: 40%;
    padding: 5px;
  }

  .titleExpanded {
    height: 10%;
    padding: 5px;
  }

  .btnContainer {
    height: 10%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px;
    .btn {
      color: $color-white;
      background-color: $color-blue;
      border: 2px solid $color-lightblue;
      border-radius: 10px;
      font-size: 20px;
      padding: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .btn:active {
      border: 3px solid $color-lightblue;
    }
  }

  .descContainer {
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    .desc {
      font-size: 0.8em;
      padding: 5px;
    }
  }

  .skills {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 10%;
    padding: 5px;
  }
}

@media screen and (min-width: $breakpoint-tablet) {
  .projectsCard {
    width: 60vw;
  }

  .cardExpanded {
    width: 75vw;
  }
}

@media screen and (min-width: $breakpoint-laptop) {
  .projectsCard {
    width: 30vw;
  }

  .cardExpanded {
    width: 40vw;
  }
}
