@import "../../base.scss";

.sectionHeading {
  text-align: center;
  font-size: 48px;
  font-weight: 400;
  padding: 0 0px 30px 0px;
}

.line {
  width: 40%;
  margin: auto;
  height: 5px;
  background-color: $accent-color;
  border: none;
}
